<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Bol Processor</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpda</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 data</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP07</string>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpkb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 keyboard</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP02</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpmi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 sound-object prototypes</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP03</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpde</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 decisions</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP04</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpgr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 grammar</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP05</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpho</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 alphabet</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP06</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpin</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 interaction</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP08</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpse</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 settings</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP09</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpwg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 weights</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP10</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpsc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 script</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP11</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpgl</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 glossary</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP12</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bptb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 time-base</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP13</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpcs</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 Csound instruments</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP14</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpor</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 MIDI orchestra</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP15</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bpmd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 MIDI driver settings</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BP16</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>midi</string>
				<string>mid</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 MIDI file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Midi</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>sco</string>
				<string>html</string>
				<string>htm</string>
				<string>trace</string>
				<string>bptr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BP2 text file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Bol Processor</string>
	<key>CFBundleGetInfoString</key>
	<string>Bol Processor BP2 - Carbon 2.9.8</string>
	<key>CFBundleIconFile</key>
	<string>BP2-OSX-appl.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.bolprocessor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Bol Processor</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.9.8</string>
	<key>CFBundleSignature</key>
	<string>Bel0</string>
	<key>CFBundleVersion</key>
	<string>2.9.8</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 1990-2012 by Bernard Bel, Jim Kippen, Srikumar K. Subramanian, and Anthony Kozar</string>
</dict>
</plist>
